@charset "UTF-8";
$yahei: "Microsoft YaHei",
SimHei,
sans-serif;

$baseRed:#E05155;
$baseBlue:#108CEE;
$redHover:#ff4545;
$blue:#006cff;
$orange:#eca66a;
$navbg:#eee;
$tablebg:#f9f9f9;
$cancelbg:#ccc;
$baseFontColor:#000;
$titleFontColor:#666;
$subFontColor:#999;
$baseFontSize:14px;
$titleFontSize:16px;
$smallFontSize:12px;

@import "base/base.scss";
@import "base/mixins.scss";
// 引入公共部分样式
@import "common/_common.scss";
@import "common/leftnav.scss";
@import "common/aheader.scss";


html {
    min-height: 100%;
    font: 12px/1.5 PingFang sc, "Helvetica Neue", Helvetica, Tahoma, Arial, SimSun, TW-Sung, "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", serif;
    font-family: $yahei;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    min-width: 1280px;
    min-height: 100%;
    color: $baseFontColor;
    letter-spacing: .5px;
    padding: 0 !important;

    a {
        color: $baseFontColor;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    p,
    a,
    span,
    em,
    i,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .alert-wrap {
        width: 700px;
        height: 294px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -147px 0 0 -350px;
        border: 1px solid #108CEE;
    }

    .alert-wrap .content {
        padding: 80px 0;
    }

    .alert-wrap p {
        text-align: center;
        color: #333;
    }

    .alert-wrap h3 {
        padding: 10px 0 20px 0;
        text-align: center;
        font-size: 18px;
        color: #000;
    }

    .alert-wrap .img {
        margin: 0 auto;
        width: 50px;
        height: 42px;
        background: url(../images/san.png);
    }
}
