$baseRed:#E05155;
$baseBlue:#108CEE;
$redHover:#ff4545;
$blue:#006cff;
$grey: #ddd;
$orange:#eca66a;
$navbg:#eee;
$tablebg:#f9f9f9;
$cancelbg:#ccc;
$baseFontColor:#000;
$titleFontColor:#666;
$subFontColor:#999;
$baseFontSize:14px;
$titleFontSize:16px;
$smallFontSize:12px;
$tableHover: #E8EAF9;
$fontTip: #999;
$btnHover:#f9f9f9;
$fontPri: #333;
$red:#F87779; // 确定按钮、强调、警示用色
$btnBlue: #A0BAE5; // 取消按钮用色
// todo
$fontTitle: #0058e6;
$blueLight: #5A98FE;
